@inherits LayoutComponentBase
@layout MainLayout
@using ProyectoFinalAplicada1.Components.Account.Shared

<div class="container py-4">
    <div class="row">
        
        <div class="col-md-3 mb-4">
            <div class="card card-glass border-0">
                <div class="card-body p-2">
                    <ManageNavMenu />
                </div>
            </div>
        </div>

        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>