@if (!string.IsNullOrEmpty(DisplayMessage))
{
    var statusMessageClass = DisplayMessage.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass" role="alert">
        @DisplayMessage
    </div>
}

@code {
    private string? messageFromCookie;

    [Parameter]
    public string? Message { get; set; }

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private string? DisplayMessage => Message ?? messageFromCookie;

    protected override void OnInitialized()
    {

        if (string.IsNullOrEmpty(Message) && HttpContext != null)
        {

            var messageCookie = HttpContext.Request.Cookies[".AspNetCore.Identity.Application.Message"];
            if (!string.IsNullOrEmpty(messageCookie))
            {
                Message = messageCookie;
                HttpContext.Response.Cookies.Delete(".AspNetCore.Identity.Application.Message");
            }
        }
    }
}
